{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Login - Student Management</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">

</head>

<body>

    <div class="container">

        <div class="form-card">

            <h1>Login</h1>

            {% if error %}
                <p style="color: red; margin-bottom: 15px;">
                    {{ error }}
                </p>
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">

                    <label>Username</label>

                    <input
                        type="text"
                        name="username"
                        placeholder="Enter username"
                        required
                    >

                </div>

                <div class="form-group">

                    <label>Password</label>

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter password"
                        required
                    >

                    <p>
    <a href="{% url 'password_reset' %}">
        Forgot Password?
    </a>
</p>

                </div>

                <p>
    Don't have an account?
    <a href="{% url 'register' %}">Create Account</a>
</p>

                <button class="btn" type="submit">
                    Login
                </button>

            </form>

        </div>

    </div>

</body>
</html>