{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">
</head>

<body>

<div class="container">

    <div class="form-card">

        <h1>Check Your Email</h1>

        <p>
            If an account exists with that email,
            password reset instructions have been sent.
        </p>

        <br>

        <a class="btn" href="{% url 'login' %}">
            Back to Login
        </a>

    </div>

</div>

</body>
</html>