{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">
</head>

<body>

<div class="container">

    <div class="form-card">

        <h1>Reset Password</h1>

        <p>
            Enter your registered email address.
        </p>

        <br>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    required
                >

            </div>

            <button class="btn" type="submit">
                Send Reset Link
            </button>

        </form>

    </div>

</div>

</body>
</html>